.main{
	position-top: 100px;
}


h2{
	font-size: 100px;
	text-align: center;
}

@media(max-width: 768px){
	h2{
		font-size: 70px;
	 }
}


.404 p:last-of-type,
.main-otoiawase p:last-of-type {
	margin-bottom: 40px;
}
